# gradle

.gradle/
common/.gradle/
fabric/.gradle/
build/
common/build/
fabric/build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

run/
common/run/
fabric/run/
